// ===== FONT GOGGLE =====
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Space+Grotesk:wght@400;500;600;700&display=swap");

// ===== VARIABLE SCSS =====
// header height
$header-height: 6rem;

// color palette
$black-color: #212529;
$grey-color: #6c757d;
$purple-color: #7a6beb;
$white-color: #ffffff;

// font global
$font-body: "Poppins", sans-serif;
$font-title: "Space Grotesk", sans-serif;

// font weight
$font-reguler: 400;
$font-medium: 500;
$font-semibold: 600;
$font-bold: 700;

// margin
$margin-0-5: 0.5rem;
$margin-1: 1rem;
$margin-1-5: 1.5rem;
$margin-2: 2rem;
$margin-2-5: 2.5rem;
$margin-3: 3rem;
$margin-3-5: 3.5rem;
$margin-4: 4rem;

// z-index
$z-back: -10;
$z-normal: 1;
$z-tooltip: 10;
$z-fixed: 100;

// line-height
$leading-title: 155%;
$leading-text: 185%;

// transition
$transition-400: 0.4s;

// ===== RESET & BASE =====
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: $font-body;
  font-weight: $font-reguler;
}

ul,
a {
  list-style: none;
  text-decoration: none;
}

input,
button {
  font-family: $font-body;
  font-weight: $font-reguler;
  outline: none;
  border: none;
}

img {
  max-width: 100%;
  height: auto;
}

// ===== REUSABLE CSS CLASS =====
.section {
  padding: 8rem 0 4rem;

  &-title {
    font-family: $font-title;
    font-weight: $font-bold;
    font-size: 24px;
    color: $black-color;
    line-height: $leading-title;
    margin-bottom: 1rem;
  }

  &-text {
    font-size: 15px;
    color: $grey-color;
    line-height: $leading-text;
    margin-bottom: 2rem;
  }

  &-button {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    padding: 1rem 2rem;
    background-color: $black-color;
    border-radius: 10px;
    font-size: 15px;
    font-weight: $font-medium;
    color: $white-color;
  }

  &-icon {
    display: inline-flex;
    font-size: 1.3rem;
    color: $white-color;
  }
}

.container {
  max-width: 1120px;
  width: calc(100% - 3rem);
  margin: 0 $margin-1-5;
}

.grid {
  display: grid;

  &-gap {
    gap: 3rem;
  }
}

.main {
  overflow: hidden;
}

// ===== HEADER SECTION =====
.header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  background-color: $white-color;
  z-index: $z-fixed;
  transition: $transition-400;

  &.sticky-action {
    box-shadow: 0 2px 12px rgba($color: #000000, $alpha: 0.1);
  }

  &__container {
    height: 6rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__logo {
    display: inline-flex;
    align-items: center;
    font-family: $font-title;
    font-size: 20px;
    font-weight: $font-bold;
    color: $black-color;
  }

  &__menu {
    @media screen and (max-width: 767px) {
      position: fixed;
      width: 80%;
      top: 7rem;
      left: 0;
      right: 0;
      margin: 0 auto;
      text-align: center;
      padding: 2rem;
      background-color: $white-color;
      border-radius: 1rem;
      box-shadow: 0 0 12px rgba($color: #000000, $alpha: 0.1);
      transition: $transition-400;
      opacity: 0;
      transform: scaleY(0);
      transform-origin: 0% 0%;
    }
  }

  &__list {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
  }

  &__link {
    font-size: 15px;
    color: $grey-color;

    &.active-link {
      font-weight: $font-semibold;
      color: $black-color;
    }
  }

  &__button {
    margin-top: $margin-1-5;
  }

  &__toggle {
    display: inline-flex;
    font-size: 1.5rem;
    color: $black-color;
    cursor: pointer;
  }

  // show menu
  .show-menu {
    opacity: 1;
    transform: scaleY(1);
  }
}

// ===== HOME SECTION =====
.home {
  padding-top: 6rem;

  &__container {
    position: relative;
    padding: 3rem 1rem 0;
  }

  &__bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 90%;
    object-fit: cover;
    object-position: center;
    border-radius: 1rem;
    z-index: $z-back;
  }

  &__data {
    text-align: center;
    justify-self: center;
  }

  &__title,
  &__text {
    color: $white-color;
  }

  &__buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;

    &-started {
      background-color: $white-color;
      color: $black-color;
    }

    &-video {
      display: inline-flex;
      justify-content: center;
      align-items: center;
      gap: 4px;
      font-size: 15px;
      font-weight: $font-medium;
      color: $white-color;
    }
  }

  &__img {
    justify-self: center;
    box-shadow: 0 12px 20px rgba($color: #fe76dd, $alpha: 0.2);
  }
}

// ===== TOOLS SECTION =====
.tools {
  &__title {
    text-align: center;
    margin-bottom: 0;
  }

  &__group {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 0.85fr));
    justify-content: center;
    gap: 3rem;
  }

  &__content {
    display: grid;
    gap: 2rem;

    &-title {
      font-family: $font-title;
      font-size: 20px;
      font-weight: $font-semibold;
      color: $black-color;
      margin-bottom: 1rem;
    }

    &-text {
      font-size: 15px;
      color: $grey-color;
      line-height: $leading-text;
    }
  }
}

// ===== FEATURE SECTION =====
.feature {
  &__group {
    gap: 8rem;
  }

  &__content {
    gap: 3rem;
  }

  &__wrapper,
  &__img {
    justify-self: center;
  }

  &__list {
    gap: 1.5rem;
  }

  &__item {
    display: inline-flex;
    align-items: flex-start;
    gap: 1rem;

    &-title {
      font-family: $font-title;
      font-size: 20px;
      font-weight: $font-bold;
      color: $black-color;
      margin-bottom: $margin-1;
    }

    &-text {
      font-size: 15px;
      color: $grey-color;
      line-height: $leading-text;
    }
  }
}

// ===== INTEGRATED SECTION =====
.integrated {
  &__data,
  &__img {
    justify-self: center;
  }

  &__button {
    display: inline-flex;
    align-items: center;
    gap: 4px;
    font-size: 15px;
    font-weight: $font-medium;
    color: $black-color;

    &-icon {
      display: inline-flex;
      font-size: 1.2rem;
    }
  }
}

// ===== TESTIMONIAL SECTION =====
.testimonial {
  &__data {
    text-align: center;
  }

  &__text {
    margin-bottom: 0;
  }

  &__content {
    display: grid;
    gap: 2rem;
    padding: 2rem;
    border: 2px solid rgba($color: #000000, $alpha: 0.1);
    border-radius: 1rem;
    transition: $transition-400;

    &-profile {
      display: flex;
      align-items: center;
      gap: 1rem;
    }

    &-img {
      width: 65px;
    }

    &-name {
      font-family: $font-title;
      font-size: 17px;
      font-weight: $font-bold;
      color: $black-color;
      margin-bottom: 6px;
    }

    &-account,
    &-comment {
      font-size: 15px;
      color: $grey-color;
      line-height: $leading-text;
    }

    &.swiper-slide-active {
      box-shadow: 10px 10px 0 $black-color;
    }
  }

  .swiper-wrapper {
    padding: 3rem 0;
  }

  &__container {
    overflow: hidden;

    & .swiper-pagination {
      position: initial;
    }

    & .swiper-pagination-bullet {
      width: 10px;
      height: 10px;
      background-color: rgba($color: #000000, $alpha: 0.4);
      transition: $transition-400;
    }

    & .swiper-pagination-bullet-active {
      width: 2rem;
      height: 10px;
      background-color: rgba($color: #212529, $alpha: 1);
      border-radius: 5rem;
    }
  }
}

// ===== FAQS SECTION =====
.faqs {
  &__button {
    display: inline-flex;
  }

  &__accordion {
    display: grid;

    &-item {
      background-color: $white-color;
      border-bottom: 2px solid $black-color;
    }

    &-header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 0.5rem;
      padding: 1.5rem 0;
      cursor: pointer;
    }

    &-title {
      font-family: $font-title;
      font-size: 17px;
      font-weight: $font-bold;
      color: $black-color;
    }

    &-icon {
      display: inline-flex;
      font-size: 1.5rem;
      color: $black-color;
      transition: $transition-400;
    }

    &-content {
      overflow: hidden;
      height: 0;
      transition: $transition-400;
    }

    &-text {
      font-size: 14px;
      color: $grey-color;
      line-height: $leading-text;
      padding-bottom: 1.5rem;
    }
  }

  // accordion open
  .accordion-open .faqs__accordion-icon {
    transform: rotate(45deg);
  }
}

// ===== FOOTER SECTION =====
.footer {
  &__container {
    gap: 6rem;
  }

  &__group {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 2.5rem;
  }

  &__data {
    &-text {
      font-size: 15px;
      color: $grey-color;
      line-height: $leading-text;
      margin-top: 4px;
    }
  }

  &__content {
    &-title {
      font-family: $font-title;
      font-size: 18px;
      font-weight: $font-bold;
      color: $black-color;
      margin-bottom: $margin-1;
    }

    &-list {
      display: flex;
      flex-direction: column;
      gap: 0.5rem;
    }

    &-link {
      font-size: 15px;
      color: $grey-color;

      &:hover {
        color: $black-color;
        text-decoration: underline;
      }
    }
  }

  &__copy {
    text-align: center;
    font-size: 15px;
    color: $grey-color;
    line-height: $leading-text;
  }
}

// ===== SCROLLUP SECTION =====
.scrollup {
  position: fixed;
  right: 1.5rem;
  bottom: -100%;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 45px;
  height: 45px;
  padding: 0.5rem;
  background-color: rgba($color: #212529, $alpha: 0.8);
  border-radius: 0.5rem;
  transition: $transition-400;
  z-index: $z-normal;

  &:hover {
    background-color: rgba($color: #212529, $alpha: 1);
  }

  &__icon {
    display: inline-flex;
    font-size: 1.3rem;
    color: $white-color;
  }

  &.scroll-action {
    bottom: 3rem;
  }
}

// ===== MEDIA QUERIES =====
// width 480px
@media screen and (min-width: 480px) {
  .home__data,
  .home__img,
  .feature__wrapper,
  .feature__img,
  .integrated__data,
  .integrated__img,
  .faqs__data,
  .faqs__accordion {
    width: 400px;
    justify-self: center;
  }
}
